.default-class {
    font-size: 24rpx;
    // background-color: #ABC0A2;
    background-color: #97C097;
    color: #fff;
    border-radius: 8rpx;
    padding: 20rpx 30rpx;
    text-indent: 2em;
    margin-bottom: 20rpx;
}