.table-box {
    border: 1px solid #ccc;
    .tr{
        display: flex;
        border-bottom: 1px solid #ccc;
        .th{
            flex: 1;
            font-weight: bold;
            border-right: 1px solid #ccc;
            font-size: 26rpx;
        }
        .th:last-child{ 
            border-right: none;
        }
        .td{
            flex: 1;
            text-align: left;
            border-right: 1px solid #ccc;
            font-size: 24rpx;
            padding: 6rpx;
        }
        .td:last-child{
            border-right: none;
        }
    }
    .tr:last-child{
        border-bottom: none;
    }
}
