.demos-container {
    padding: 32rpx;

    .preface {
        font-size: 24rpx;
        background: #fff;
        border-radius: 4rpx;
        padding: 20rpx 30rpx;
        text-indent: 2em;
        margin-bottom: 20rpx;
    }
}